{% extends "layouts/base.html.twig" %}

{% block body %}
    <h1>Create new Targets</h1>
    <div class="card shadow-lg p-3 mb-5 bg-body rounded">
        {{ include('targets/_form.html.twig') }}
        <div class="position-absolute bottom-0 end-0 px-3 py-3">
            <a href="{{ path('targets_index') }}"><button class="btn btn-warning rounded ">back to list</button></a>
        </div>
    
    </div>
    
{% endblock %}
