{% extends "layouts/base.html.twig" %}


{% block body %}
    <h1>Create new HideOuts</h1>

    {{ include('hide_outs/_form.html.twig') }}

    <a href="{{ path('hide_outs_index') }}">back to list</a>
{% endblock %}
